/* Type your code here */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("assets/background-image1.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito Sans', sans-serif;
    /*display: flex;*/
}

.col2 {
    color: rgb(132, 132, 136);
}

table {
    border-collapse: collapse;
}

#div1 {
    display: flex;
    flex-direction: row-reverse;
}

#div2 {
    display: flex;
    flex-direction: column;
}

#img1 {
    margin: 10px;
    object-fit: cover;
}

table {
    margin-left: 80px;
    margin-right: 280px;
}

.player {
    color: rgb(109, 170, 240);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: rgb(109, 170, 240);
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

td {
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 10px;
    text-align: justify;
}

.header {
    background-color: rgb(245, 94, 39);
    color: white;
}

.row {
    background-color: white;
}

h1 {
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin: 5px;
    margin-left: 80px;
    text-shadow: 1px 1px 5px rgb(97 97 97);
}

h2 {
    color: rgb(100, 107, 119);
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
    margin-left: 80px;
}

#img2 {
    margin-left: 20px;
    margin-right: 20px;
}


/* change the font family and spacing as per your project font */

.footer {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    position: relative;
    top: 750px;
    margin-left: 80px;
    font-size: 18px;
    font-family: Nunito Sans;
    font-style: normal;
}